* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;

}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 1px;
}

.main1 .imd {
    width: 100%;
}

.ild {
    width: 390px;
    height: 500px;
}

.loe {
    width: 390px;
}

.koe {
    width: 390px;
}

.zala {
    width: 390px;
}

.kishilik {
    width: 390px;
}

.yotoqxona {
    width: 390px;
}

.Hol {
    width: 390px;
}

.basseyn {
    width: 390px;
}

.sd {
    width: 390px;
}

.ssak {
    text-align: center;
    margin-top: 20px;
}
.pla {text-align: center;}